:root {
  --navFontSize: 1.5rem;
  --navHoverScaleby: 1.4;
  --navHeight: calc(2 * var(--navFontSize));
}

.gradientBackground, html {
  /* background: radial-gradient(#e2dad0, #9d8362); */
  background: radial-gradient(#ebe6e0, #a79072);
  /* background-image: url(./images/seamless_paper_texture.webp); */
  background-repeat: no-repeat;
}

html {
  min-height: 100vh;
}

article {
  /* border: solid black 0.2rem; */
  margin: 1rem;
  padding: 1rem;
}

nav {
  /* font-size: 24pt; */
  font-size: var(--navFontSize);
  display: flex;
  justify-content: center;
  background-color: #6e5c45;
  position: fixed;
  width: 100%;
  height: var(--navHeight);
  transition: 0.4s;
}

nav:hover {
  /* scale: var(--navHoverScaleby); */
  font-size: calc(var(--navFontSize) * var(--navHoverScaleby));
  height: calc(var(--navHeight) * var(--navHoverScaleby));
}

header nav {
  top: 0;
}

footer nav {
  bottom: 0;
}

nav>a {
  margin: 4px 8px;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin: 0.3em;
}

h2 {
  text-align: center;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  padding: 1em;
}

iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

img {
    /* width: auto;
    height: auto; */
    max-height: 720px;
}

form {
  font-size: 1.6rem;
}

input {
  height: 1em;
}

input[type="submit"] {
  height: 1.5em;
}
/* div[class="col"] {
  margin: 0.5em;
  padding: 0.5em;
} */

.selectedPageLink {
  color: black;
  text-decoration: none;
  pointer-events: none;
}

.containerCentered,
.centerScreenFit {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: .5em 1em;
  gap: 1em;
  /* margin: 10px 20px;
    gap: 20px; */
}

.centerScreenFit {
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.centerSelf {
  place-self: center;
}

.containerEnd {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px;
  gap: 20px;
}

.containerFitBetween {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  gap: 20px;
  /* padding: 20px; */
}

.containerColumn,
#formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.itemBoxText {
  /* height: 200px;
    width: 800px; */
  min-width: 400px;
  max-width: 1200px;
  min-height: 400px;
}

.itemResizeEvenly {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

/* sticky navbar doesnt take up space like other elements, so this will take up the same space in its stead */
.navBarPlaceholder {
  width: 100%;
  height: var(--navHeight);
}

#portrait {
  /* text-align: center; */
  /* height: 1000px; */
  /* height: 70vh; */
  /* height: 100%; */
  border-radius: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* #formContainer {
    margin-top: 20vh;
} */

@media screen and (max-width: 768px) {
  .containerFitBetween {
    flex-wrap: wrap;
  }

  .itemResizeEvenly {
    min-width: 100vw;
  }
}