:root {
    --navFontSize: 1.5rem;
    --navHoverScaleby: 1.4;
    --navHeight: calc(2 * var(--navFontSize));
}

html {
    /* background: radial-gradient(#e2dad0, #9d8362); */
    background: radial-gradient(#ebe6e0, #a79072);
    /* background-image: url(./images/seamless_paper_texture.webp); */
    background-repeat:no-repeat;
    min-height: 100vh;
}

nav {
    /* font-size: 24pt; */
    font-size: var(--navFontSize);
    display: flex;
    justify-content: center;
    background-color: #6e5c45;
    position: fixed;
    width: 100%;
    height: var(--navHeight);
    transition: 0.4s;
}
nav:hover {
    /* scale: var(--navHoverScaleby); */
    font-size: calc(var(--navFontSize) * var(--navHoverScaleby));
    height: calc(var(--navHeight) * var(--navHoverScaleby));
}
header nav {
    top: 0;
}
footer nav {
    bottom: 0;
}
nav > a {
    margin: 4px 8px;
}

h1 {
    text-align: center;
    font-size: 48pt;
}
h2 {
    text-align: center;
    font-size: 36pt;
}
p {
    font-size: 24pt;
    padding: 10px;
}

video {
    width: 1366px;
    height: 768px;
}

img {
    height: 720px;
}

form {
    font-size: 1.6rem;
}
input {
    height: 1em;
}
input[type="submit"] {
    height: 1.5em;
}

.selectedPageLink {
    color: black;
    text-decoration: none;
    pointer-events: none;
}

.containerCentered, .centerScreenFit {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 20px;
    gap: 20px;
}
.centerScreenFit {
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.containerEnd {
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px;
    gap: 20px;
}
.containerFitBetween {
    display: flex;
    justify-content:space-between;
    margin: 10px 20px;
    gap: 20px;
    /* padding: 20px; */
}
.containerColumn, #formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.itemBoxText {
    /* height: 200px;
    width: 800px; */
    min-width: 400px;
    max-width: 1200px;
    min-height: 400px;
}

.manualCenter {
    position: relative;
    top: calc(50% - translate(50%));
    left: 50%;
}

/* sticky navbar doesnt take up space like other elements, so this will take up the same space in its stead */
.navBarPlaceholder {
    width: 100%;
    height: var(--navHeight);
}

#portrait {
    text-align: center;
    height: 1000px;
    border-radius: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* #formContainer {
    margin-top: 20vh;
} */